:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* color: #646cff; */
}
a:hover {
  /* color: #535bf2; */
}

/*BANNER*/
.big-welcome-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 608px;
  width: 1000px;
  font-size: 100px;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* border: solid black; */
  padding: 10px;
  margin: 10px;
  color: rgb(205, 218, 226);
  white-space: initial;
}

/*HEADER*/
.header-container {
  position: fixed;
  top: 0;
  height: 100px;
  font-size: 40px;
  background-color: inherit;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-between;
  color: rgb(205, 218, 226);
  z-index: 1000;
  width: 100%;
}
.left-header-container {
  /* border: solid black; */
}
.right-header-container {
  display: flex;
  /* border: solid black; */
  width: 800px;
  justify-content: space-around;
}
.left-header-element {
  /* border: solid black; */
  margin: 5px;
  padding: 5px;
}

.right-header-element {
  /* border: solid black; */
  margin: 5px;
  padding: 5px;
}

/*ABOUT*/
.about-container {
  padding: 10px;
  height: 543px;
  border: solid black;
  margin-top: 80px;
}

.about-header {
  font-size: 80px;
  color: rgb(205, 218, 226);
}

.about-text {
  font-size: 40px;
  color: rgb(205, 218, 226);
}

/*CV*/

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 120% !important;
  height: 100% !important;
}
.pdf-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  width: 90%;
  margin-top: 10px;
}

.cv-header {
  font-size: 80px;
  color: rgb(205, 218, 226);
}

.cv-text {
  font-size: 40px;
  color: rgb(205, 218, 226);
}

/*PROJECTS*/
.projects-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 1100px;
  border: solid black;
  justify-content: center;
  text-align: center;
}

.project-container {
  height: 300px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid black;
  justify-content: space-evenly;
}

.project-image {
  font-size: 60px;
  width: 400px;
  margin: 50px;
  transition: transform 0.3s ease-in-out;
}
.project-image:hover {
  transform: scale(1.05);
}

.project-info {
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  margin-left: 100px;
  color: rgb(205, 218, 226);
  border: solid black;
}

/*CONTACT*/
.contact-container {
  margin-top: 80px;
  padding: 10px;
  height: 532px;
  /* border: solid black; */
}

.contact-header {
  font-size: 80px;
  color: rgb(205, 218, 226);
}

.contact-text {
  margin-top: 10px;
  display: flex;
  font-size: 40px;
  color: rgb(205, 218, 226);
  padding: 10px;
  align-items: center;
}

.github-icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.github-icon:hover {
  transform: scale(1.1);
}

.mail-icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.mail-icon:hover {
  transform: scale(1.1);
}

.linkedin-icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.linkedin-icon:hover {
  transform: scale(1.1);
}

body {
  margin: 0;
  /*
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 10px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: solid transparent;
  border-radius: 10px;
}
button:hover {
  background-color: solid black;
  color: rgb(175, 34, 121);
  background-blend-mode: darken;
  font-weight: bold;
  /* border-bottom: solid rgb(175, 34, 121); */
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #747bff; */
  }
}
