:root {
  color-scheme: light dark;
  background-color: #242424;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(205, 218, 226);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  /* color: #646cff; */
}
a:hover {
  /* color: #535bf2; */
}

/*BANNER*/

.home-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.welcome-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid black; */
  min-height: 79.9vh;
  padding: 10px;
  margin: 10px;
}

.typed-container {
  margin: 5px;
  width: 700px;
  font-size: 70px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.welcome-text {
  margin: 5px;
  padding-top: 10px;
  font-size: 20px;
  width: 600px;
  text-align: justify;
}

.language-logos-container {
  padding: 10px;
  margin-top: 30px;
  width: 450px;
  /* border: solid black; */
  font-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-logos-container-top,
.language-logos-container-mid,
.language-logos-container-bottom {
  display: flex;
  padding: 10px;
}

.language-logo {
  display: flex;
  /* border: solid black; */
  width: 120px;
  height: 120px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
  box-sizing: border-box;
  border: 2px rgb(46, 73, 161) solid;
  border-radius: 15%;
}

@keyframes float {
  0% {
    box-shadow: 0 15px 5px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 15px 5px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/*HEADER*/
.header-container {
  height: 75px;
  position: fixed;
  z-index: 1;
  background-color: rgb(46, 73, 161);
  font-size: 30px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  color: rgb(205, 218, 226);
  width: 100%;
  text-shadow: 10px 10px solid black;
}
.left-header-container {
  /* border: solid black; */
}
.right-header-container {
  display: flex;
  /* border: solid black; */
  width: 700px;
  justify-content: space-evenly;
}
.left-header-element {
  /* border: solid black; */
  margin: 5px;
  padding: 5px;
}

.right-header-element {
  /* border: solid black; */
  margin: 5px;
  padding: 5px;
}

/*ABOUT*/
.about-container {
  padding: 10px;
  height: 596px;
  /* border: solid black; */
  margin-top: 80px;
}

.about-header {
  font-size: 60px;
  color: #213547;
  font-weight: 200;
}

.about-text {
  border: solid black;
  width: 800px;
  font-size: 20px;
  color: #213547;
}

/*CV*/

.react-pdf__Page__canvas {
  margin-top: 5 auto;
  width: 120% !important;
  height: 100% !important;
}
.pdf-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 120px;
  width: 90%;
  margin-top: 10px;
}

/*PROJECTS*/
.projects-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.ncnews-container,
.trippin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.ncnews-image {
  width: 350px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.ncnews-image:hover {
  transform: scale(1.1);
}

.ncnews-info,
.trippin-info {
  text-align: justify;
  font-size: 20px;
  color: #213547;
  width: 600px;
  margin-left: 20px;
}

.trippin-images {
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 350px;
}

.trippin-image {
  margin: 10px;
  padding: 5px;
  display: flex;
  width: 150px;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.trippin-image:hover {
  transform: scale(1.2);
}

/*CONTACT*/
.contact-container {
  margin-top: 120px;
  padding: 10px;
  height: 556px;
  /* border: solid black; */
}

.contact-header {
  font-size: 80px;
  color: #213547;
}

.contact-text {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: #213547;
  padding: 10px;
  align-items: center;
}

.github-icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.github-icon:hover {
  transform: scale(1.1);
}

.mail-icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.mail-icon:hover {
  transform: scale(1.1);
}

.linkedin-icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.linkedin-icon:hover {
  transform: scale(1.1);
}

body {
  margin: 0;
  /*
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

button {
  padding: 10px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: solid transparent;
  border-radius: 10px;
}
button:hover {
  background-color: solid black;
  color: rgb(192, 41, 134);
  font-weight: bold;
  /* border-bottom: solid rgb(175, 34, 121); */
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    /* color: #747bff; */
  }
}
